#mainNav {
  position: sticky;
  background-color: rgba(245,246,246,0);
  padding: 5px 10px;
}

@media (min-width: 992px) {
  #mainNav {
    padding: 0px 20px;
  }
}

#mainNav a:hover {
  background: #ffffff;
}

#mainNav a {
  font-size: 15px;
  color: rgba(0,0,0,0.52);
}

.navbar-light .navbar-toggler {
  color: #207DE9;
  border-color: rgba(255,255,255,0);
}

#mainNav .nav-item {
  font-size: 1em;
  color: #000;
}

#mainNav li {
  font-size: 1rem;
  line-height: 2.3em;
  color: #000;
}

