#banner-hero {
  background: url("../../assets/img/Print_banner_new.jpg") center / cover no-repeat;
  padding: 4em 2em;
  margin-top: 5em;
}

.big-red {
  background-color: #c01818;
}

.just-lg-md {
  display: none;
}

@media (min-width: 768px) {
  .just-lg-md {
    display: block;
  }
}

.text-no {
  color: rgba(51,51,51,0.67);
}

