header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(8rem + 80px);
  padding-bottom: 7rem;
  background: url("../../assets/img/7104455.png");
  font-family: 'Jost';
}

body {
  font-family: 'Jost';
}

